.App {
  text-align: center;
  width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
  background-image: url("./images/bg-pink.svg"), url("./images/bg-purple.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
