.inputItem {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;

  padding: 8px 10px;

  border-bottom: 1px solid currentColor;
  color: var(--inputColor);
}

.icon {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
}

.input {
  width: 100%;
  padding-left: 64px;
}
