.categoryContainer {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 1s;

  z-index: 1;
}

.isVisible {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  overflow-y: scroll;
  transition: clip-path 1s;
}

.categoryPicker {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;

  width: 100%;
  max-height: 350px;

  border-radius: 20px;

  backdrop-filter: blur(50px);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.7);

  overflow-x: scroll;
}

.listItem {
  width: 100%;
}

.item {
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
}

.item:hover {
  background-color: white;
  color: var(--expenseColor);
}
