.transactionListItem {
  display: flex;
  justify-content: space-between;

  padding: 12px 20px;

  border-left: 5px solid var(--expenseColor);
  background-color: white;
}

.deleteButton {
  font-size: 14px;
  border-radius: 18px;
  padding: 4px 12px;
  background-color: var(--buttonBackground);
  color: white;
  transition: transform 0.5s;
}

.deleteButton:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.editButton {
  display: flex;
  font-size: 14px;
}

.editButtonIcon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  transition: transform 0.5s;
}

.editButton:hover .editButtonIcon {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.header {
  text-align: left;
}

.value {
  text-align: right;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

.expense {
  color: var(--expenseColor);
}
.income {
  color: var(--buttonBackground);
}

@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
}
