.imageAuthContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .imageAuthContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .image {
    display: inline-block;
    width: 261px;
    height: 250px;
  }

  .title {
    display: inline-block;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 0 0 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .imageAuthContainer {
    padding-top: 0;
    padding-left: 20px;
  }
  .image {
    display: block;
    width: calc(100% / 2);
  }

  .title {
    padding: 28px 0 0 0;
  }
}
