.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  font-family: var(--second-family);
  font-size: 26px;
  font-weight: 700;
  color: black;
}

.icon {
  color: transparent;
  width: 30px;
  height: 30px;
}
