.header {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background {
  background-color: white;
}
.user {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  text-align: right;
  color: var(--inputColor);
}

.icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px;
  }
}
