:root {
  --font-family: "Circe", sans-serif;
  --second-family: "Poppins", sans-serif;

  --main-backgroud: #e7eaf2;
  --buttonBackground: #24cca7;

  --inputColor: #bdbdbd;
  --buttonBorderColor: #4a56e2;
}
