:root {
  --font-family: "Circe", sans-serif;
  --second-family: "Poppins", sans-serif;

  --main-backgroud: #e7eaf2;
  --buttonBackground: #24cca7;

  --inputColor: #bdbdbd;
  --buttonColor: #4a56e2;
  --secondButtonColor: #6e78e8;
  --textColor: #e0e0e0;
  --expenseColor: #ff6596;
  --statisticsUnderline: #dcdcdf;
  --currencyBackground: #4a56e2;

  --not-for-use: #679aed;
}
